.manageUsers {
    height: 100%;
    margin: 0;
}

.manageUsersBox {
    min-height: 92vh;
    margin: 0;
    background-color: white;
    color: black;
    font-size: 20px;
}

.usersActionBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
}

#userSearchBar {
    margin: 0.4em 0 0.4em 6vw;
    padding: 0.4vh 4px;
    width: 30%;
    min-width: 120px;
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1em;
}

#usersHeading {
    background-color: #596e80;
    font-size: 5.3vh;
    font-weight: 700;
    color: white;
    padding: 0.3vh 6vw 1vh;
}

.usersActionBar > #addUser {
    margin: 0.4em 6vw 0.4em 0;
    padding: 0.4vh 4px;
}

.usersBox ul {
    padding: 12px 6vw;
}

#usersList {
    list-style: none;
    padding: 0;
}

#usersList li {
    padding: 12px 6vw;
    border-bottom: 1px solid #cecece;
}

#usersListHeading {
    background-color: #f6f6f6;
}

#addUser:hover {
    color: grey;
}
