.manageStagesBox {
    margin: 1vh 0 0;
    padding: 0;
}

#stagesListActionBar {
    display: grid;
    padding: 0.7em 6vw;

    justify-items: center;
    grid-template-columns: 4fr 2fr 4fr;
}

#stageSearchBar {
    background-color: #ffffff;
    border: 1px solid #cfcfcf;
    border-radius: 2px;

    width: 30vw;
    min-width: 120px;
    padding: 0.4vh 4px;

    box-sizing: border-box;

    font-family: inherit;
    font-size: 1em;

    justify-self: start;
}

#addStageButton {
    border: none;
    background: none;

    font-family: inherit;
    font-size: 1.3em;
    font-weight: 500;

    justify-self: end;
}

#addStageButton:hover {
    cursor: pointer;
    color: #636363;
}

#stagesHeading {
    font-size: 3em;
    color: white;
    margin-bottom: 6px;
    margin-left: 6vw;

}

#stagesListHeading {
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.3em 6vw;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
    background-color: #f6f6f6;
}

.stagesBox {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 80vh;
}

.stagesBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stageContainer {
    display: grid;
    grid-template-columns: 3em 1fr;
}

.stagePos {
    margin: -1px 0 0 0;
    padding: 0.4em 0;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 800;
    font-size: 1.4em;

    box-sizing: border-box;
    height: 2.5em;

    background-color: #cecece;
}

.stagePos.posChanged {
    background-color: #c1ff7a;
}

.hide {
    display: none;
}