.editUserHeading {
    font-size: 5.3vh;
    font-weight: 700;
    color: #223e55;
    margin: 0 6vw;
    padding: 0;
}

.editUserBox {
    padding: 12px 6vw;
    font-size: 20px;
}

.editUserGrid {
    display: grid;
    margin: 0 16vw 0 6vw;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-gap: 15px;
    gap: 15px;
}

/* Form */
.editUserForm {
    font-size: 20px;
    font-weight: 500;
    padding-top: 50px;
    display: grid;
    width: 50%;
}

.feildGroup {
    padding-bottom: 40px;
}

.field {
    display: flex;
    align-items: center;
}

.editUserLabel {
    padding: 12px 12px 12px 0;
    float: left;
    width: 100px;
    margin-top: 6px;
}

/* change colour for name-info labels */
#name-info > .field > .editUserLabel {
    color: whitesmoke;
}

/* change colour for loginInfo labels */
#loginInfo > .field > .editUserLabel {
    color: #4cc9f0;
}

.editUserInput {
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 400px;
    border-style: none;
}

#passwordField {
    display: flex;
}

/* Right justify Cancel button*/
.editUserGrid #itemRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding: 10px;
}
