#calendar {
    margin: 0;
    font-size: 20px;
    padding: 0.3vh 6vw 1vh;
}

#calendarHeading {
    background-color: #5e779d;
    font-size: 5.3vh;
    font-weight: 700;
    color: white;
    display: inline;
}

.calendarSub {
    padding-bottom: 10px;
    color: white;
}

.calendarElement {
    display: grid;
    grid-template-rows: 1fr 14fr;
    grid-template-columns: 4fr 1fr;
    grid-template-areas:
        "calendarFilter calendarAdd"
        "actualCalendar actualCalendar";
}

#calendarFilter {
    grid-area: calendarFilter;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2px;
}

.calendarAdd {
    grid-area: calendarAdd;
    margin-top: 4px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    height: 18px;
    color: white;
    background-color: #78cd1b;
}

.calendarAdd:hover {
    background-color: #569417;
}

#calendar label {
    color: white;
    font-size: 16px;
    margin-top: 8px;
}

.filterClient {
    margin-left: 10px;
    color: black;
    font-size: 14px;
    opacity: 1;
    z-index: 10;
    width: 80%;
}

.actualCalendar {
    grid-area: actualCalendar;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
