.scheduleMeeting {
    margin: 0;
    font-size: 20px;
    padding: 0.3vh 6vw 1vh;
}

.scheduleMeetingHeading {
    background-color: #5e779d;
    font-size: 5.3vh;
    font-weight: 700;
    color: white;
}

.unbold {
    font-weight: 350;
}

.scheduleGrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "scheduleForm scheduleCalendar";
    gap: 15px;
    margin-top: 15px;
}

.scheduleForm {
    grid-area: scheduleForm;
    color: white;
}

.scheduleForm label {
    display: block;
    margin-bottom: 5px;
}

.selectClient {
    color: black;
    opacity: 1;
    width: 195px;
}

.inputMeetingName {
    margin-top: 10px;
    margin-bottom: 10px;
}

.meetingNameField {
    font-family: inherit;
    font-size: 16px;
    display: block;
    width: 160px;
    margin-top: 8px;
    padding: 16px;
    border-radius: 5px;
    border: 1px solid black;
}

.meetingNameField:focus {
    outline: none;
}

.startTime {
    margin-bottom: 15px;
}

.scheduleCalendar {
    grid-area: scheduleCalendar;
}

.meetingButtons {
    text-align: right;
    width: 194px;
    margin-top: 10px;
}

.cancelMeeting {
    color: #e13d55;
    text-decoration: underline;
}

.cancelMeeting:hover {
    color: #b83548;
}

.meetingButtons button {
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: inherit;
    color: white;
    margin-left: 10px;
    margin-bottom: 10px;
}

.saveMeetingButton {
    background-color: #78cd1b;
}

.saveMeetingButton:hover {
    background-color: #569417;
}

.deleteMeetingButton {
    background-color: #e13d55;
}

.deleteMeetingButton:hover {
    background-color: #b83548;
}

.cancelDelete {
    margin-left: 10px;
    margin-top: 8px;
    font-size: 14px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.cancelDelete:hover {
    color: lightgrey;
}