.hide {
    height: 0;
    border: none;
}

.recentCliHeading {
    padding: 5px 12px;
    font-size: 25px;
    font-weight: 700;
    color: #051e39;
    border-bottom: solid #051e39;
}

.recentClientTable {
    width: 100%;
    border-collapse: collapse;
}

.recentClientRow {
    margin-top: -1;
    border-bottom: 1px solid #b3ddfd;
    height: 1px;
}
.recentClientTable > tbody {
    font-size: 18px;
}

.recentClientTable td:first-child {
    text-align: center;
    width: 60px;
}

.recentClientTable td:not(:first-child) {
    padding: 8px 0;
    height: inherit;
}

#recentClientTd {
    padding: 8px 0;
    height: inherit;
}

.recentClientNameBox {
    display:inline-block;
}

#recentCliNameField {
    display: flex;
    justify-content: space-between;
    padding-right: 10%;
    color: #b3ddfd;
    font-weight: 650;
    height: 100%;
    align-items: center;
}

#hide {
    visibility: hidden;
}

#recentCliNameField:hover {
    color: white;
}

#recentCliNameField:hover #hide {
    color: white;
    visibility: visible;
    cursor: pointer;
}
