.hide {
    height: 0;
    border: none;
}

.recentCliHeading {
    padding: 5px 12px;
    font-size: 25px;
    font-weight: 700;
    color: #051e39;
    border-bottom: solid #051e39;
}

.recentClientTable {
    width: 100%;
    border-collapse: collapse;
}

.recentClientRow {
    border-bottom: 1px solid #b3ddfd;
}
.recentClientTable > tbody {
    font-size: 20px;
}

.recentClientTable td:first-child {
    text-align: center;
}

#recentClientTd {
    padding: 8px 0;
}

/* .recentClientRow:hover {
    background-color: whitesmoke;
    text-emphasis-color: #85a7ca;
} */

.recentClientName:hover {
    /* color: #85a7ca; */
    color:whitesmoke;
}

.recentClientName {
    color: #b3ddfd;
    font-weight: 650;
}

