.stage {
    font-size: 1.4em;
    font-weight: 500;
    padding: 0.4em 6vw 0.4em 0;
    border: 1px solid #cecece;
    box-sizing: border-box;
    height: 2.5em;

    display: grid;
    grid-template-columns: 2vw 8fr 1fr;
    justify-items: start;
    align-items: center;

    background-color: white;
}

.draggableIcon {
    padding-left: 0.3em;
    color: #585858;
    opacity: 1;
    transform: scaleX(0.8);
}

.draggableIcon.hideDragIcon {
    opacity: 0;
}

.stageEdit {
    justify-self: end;
    border: none;
    background: none;
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}

.stageEdit:hover {
    cursor: pointer;
    color: #636363;
}

.editModal {
    position: fixed;
    height: 20%;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    border: 1px solid #ccc;
    background: white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}
