.nav {
    list-style-type: none;
    margin: 0;
    padding: 4px 36px;
    overflow: hidden;
    background-color: inherit;
}

.navLeft {
    float: left;
}

.navText {
    display: block;
    color: #a4c1d9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.active {
    display: block;
    color: #7aade1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.nav li a:hover, #signOut:hover {
    color: #7aade1;
}

#logo {
    padding-right: 8px;
    max-width: 80px;
    height: auto;
}

.navRight {
    float: right;
}